@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;

    margin-top: 15%;
    margin-bottom: 20%;

    margin-left: 10%;
    margin-right: 10%;

}

.powderReport > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0em;
    font-size: 5em;
    color: #0515ff;
}

.snowDetails{
    margin-top: 10vh;
}

.snowfall{
    margin-right: 15%;
    float: left;
}

.tempture{
    display: block;
    float: left;
}

@media screen and (max-width: 375px){
    body{
        margin-top: 50%;
    }

    .powderReport > h2{
        font-size: 3em;
    }
}