@import url('https://fonts.googleapis.com/css?family=Oswald');

html{margin: 0 auto; padding: 0 auto;}

body{
    margin-left: 10%;
    margin-top: 17%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
}
/* ---- ART CSS ---- */

.artContainerOne{
    position: absolute;
    width: 100px;

    top: -10px;
    z-index: -9;
}

.partOne{
    position: relative;
    left: -300px;
    top: -450px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #0515ff;
}

.partTwo{
    position: relative;
    right: -200px;
    top: -1200px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #0515ff;
}

.partThree{
    position: relative;
    right: -800px;
    top: -1800px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #0515ff;
}



.artContainerTwo{
    position: absolute;
    top: -50px;
    z-index: -9;
}

.partFour{
    position: relative;
    left: -300px;
    top: -450px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #fff;
}

.partFive{
    position: relative;
    right: -200px;
    top: -1200px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #fff;
}

.partSix{
    position: relative;
    right: -800px;
    top: -1800px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #fff;
}

/* ---- END OF ART CSS ---- */

.details{
    margin-bottom: 700px;
    width: auto;
    height: 20px;
}

.sectionTwo{
    width: auto;
    height: 100%;
    margin-bottom: 700px;
}

.bgImage{
    position: absolute;
    top: -100px;
    left: 750px;
    z-index: -1;
    animation-name: moveFade;
    animation-timing-function: cubic-bezier(0, 0.97, 1, 1);
    animation-duration: 3s;
}

.powderReport{
    padding-top: 80px;
    animation-name: fade;
    animation-timing-function: ease;
    animation-duration: 3s;
}

.powderReport > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0em;
    font-size: 5em;
    color: #0515ff;
}

.snowIcon{
    position: relative;
    float: left;
    top: 20px;
    left: -20px;
    fill: #0515ff;
}

.snowfall{
    position: relative;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(0, 0.48, 0, 1.04);
    animation-duration: 2s;
    /* animation-delay: .3s; */
    

    margin-right: 5%;
    float: left;
}

.tempture{
    position: relative;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(0, 0.48, 0, 1.04);
    animation-duration: 3s;
    /* animation-delay: .5s; */

    display: block;
    float: left;
}

.term{
    position: relative;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(0, 0.48, 0, 1.04);
    animation-duration: 2s;
    /* animation-delay: .3s; */
    
    margin-top: -5%;
    margin-left: 12%;
    float: left;
}

.termWrapperOne{
    padding-bottom: 50px;
}

.termWrapperTwo .powderReport h2{
    color: rgb(255, 0, 0);
}

.termWrapperThree .powderReport h2{
    color: rgb(255, 193, 60)
}

.termWrapperTwo{
    padding-top: 50px;
    padding-bottom: 50px;
    color: 
}

.termWrapperThree{
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(255, 193, 60);
}

.sectionTwo{background: #fff;}

footer{
    width: 5px:
    height: 0;
    padding: 30px;
    margin-left: -12%;
}

footer > p{
    text-align: center;
    color: #000;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: all ease .3s;

}

a:hover{
    color: #0515ff;
    transition: all ease .3s;
}



@keyframes moveFade {
    0%{
        opacity: 0;
        left: 1200px;
    }
    100%{opacity: 100;}
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 100;}
}

@keyframes fadeIn {
    0%{
        top: 150px;
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 100;
    }
}


@media screen and (max-width: 375px){
    body{
        margin-left: 10%;
        margin-top: 30%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .snowIcon{
        max-width: 25%;
        position: relative;
        float: left;
        top: 20px;
        left: -20px;
        fill: #0515ff;
    }

    .powderReport > h2{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: 0em;
        font-size: 3em;
        color: #0515ff;
    }

    .bgImage{
        position: fixed;
        top: -20px;
        left: -100px;
        z-index: -10;
    }

    .powderReport > h2{
        font-size: 3em;
    }
}

/* iPad Mini (Verticle) */
@media screen and (max-width: 768px){
    body{
        margin-left: 10%;
        margin-top: 50%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .snowIcon{
        max-width: 25%;
        position: relative;
        float: left;
        top: -20px;
        left: -20px;
        fill: #0515ff;
    }

    .powderReport{margin-top: 200px;}

    .powderReport > h2{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: 0em;
        font-size: 3em;
        color: #0515ff;
    }

    .bgImage{
        position: fixed;
        top: 60px;
        left: 50px;
        z-index: -10;
    }

    .powderReport > h2{
        font-size: 3em;
    }
}

/* iPad Mini (Horizontal) */
@media screen and (max-width: 1024px){
    body{
        margin-left: 10%;
        margin-top: 20%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .snowIcon{
        max-width: 25%;
        position: relative;
        float: left;
        top: -20px;
        left: -20px;
        fill: #0515ff;
    }

    .powderReport{margin-top: 300px;}


    .powderReport > h2{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: 0em;
        font-size: 3em;
        color: #0515ff;
    }

    .bgImage{
        position: fixed;
        top: -150px;
        left: 350px;
        z-index: -10;
    }

    .powderReport > h2{
        font-size: 3em;
    }
}

/* iPad Mini (Verticle) */
@media screen and (max-width: 768px){
    body{
        margin-left: 10%;
        margin-top: 20%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .snowIcon{
        max-width: 25%;
        position: relative;
        float: left;
        top: -20px;
        left: -20px;
        fill: #0515ff;
    }

    .powderReport > h2{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: 0em;
        font-size: 3em;
        color: #0515ff;
    }

    .bgImage{
        position: fixed;
        top: 60px;
        left: 50px;
        z-index: -10;
    }

    .powderReport > h2{
        font-size: 3em;
    }
}

/* iPhone */
@media screen and (max-width: 375px){
    body{
        margin-left: 10%;
        margin-top: 30%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .snowIcon{
        max-width: 25%;
        position: relative;
        float: left;
        top: 10px;
        left: -10px;
        fill: #0515ff;
    }

    .powderReport{
        margin-top: 250px;
        margin-right: 30px;
    }


    .powderReport > h2{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: 0em;
        color: #0515ff;
    }

    .bgImage{
        position: fixed;
        top: 200px;
        left: -100px;
        z-index: -10;
    }

    .powderReport > h2{
        font-size: 3em;
    }

    .sectionTwo > h1{
        padding-top: 30px;
    }

    .termWrapperOne{
        margin-top: -250px;
        margin-left: 30px;
    
    }
    .termWrapperTwo{margin-top: -250px;}
    .termWrapperThree{margin-top: -250px;}



}